/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Kanit:wght@200;300&family=Rokkitt:ital,wght@0,100;1,200&family=Tangerine:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* Fonts 
font-family: 'Flamenco', cursive; -> H2 and H3subheading font
font-family: 'Kanit', sans-serif; -> H1 
font-family: 'Rokkitt', serif; -> body 
font-family: 'Tangerine', cursive; -> Logo txt

*/
body{
    background-color: #946425;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}


/* Fonts */

.navbar-brand h1{
    font-family: 'Tangerine', cursive;
    padding-left: 20px;
    padding-top: 5px;
}

h1{
    font-family: 'Tangerine', cursive;
    color: #B37A2F;
    font-size: larger;
}

h3{
    font-family: 'Flamenco', cursive;
    color: #081B28;
}
/* ------------ End of fonts ----------- */


/* Nav Section */
.navbar-brand{
    display: flex;
}

.navbar ul{
    font-family: 'Flamenco', cursive;
    color: #B37A2F;
    font-size: larger;
    font-weight: bolder;
    margin-left: -50px;
}

.navbar a{
    color: #B37A2F; 
    text-decoration: none;
}
.navbar a:hover{
    color: #0B2538;
}

.active{
    color: #790A00;
}

/* END OF NAV */


/* -------------------------------------------- */
/* Accord Page */

/* .accordion-button{
    background-color: #B37A2F;
    color: #081B28;
    font-family: 'Flamenco', cursive;
    font-weight: bolder;
}

.show{
    background-color: #0b253875;
    color: antiquewhite;
    font-family: 'Rokkitt', serif;

} */

.col-6 .about{
    max-width: 50%;
}
.apiSection{
    max-width: 400px;
}
/* cover page */

.cover-hero{
    background-color: darkslategray;
    width: auto;
    height: 95vh;
}
.carousel-item{
    max-height: 95vh;
}

/* about us section - home page */
.about-us{
    height: 100vh;
    width: auto;
}

.about{
    margin-top: 25vh;

}

.image-home {
    background-color: darkslategrey;
    width: 450px;
    height: 500px;
}

/* ------------------------------------------- */

/* trips page */


/* trips section */

.card{
    margin-top: 15px;
    margin-left: 10%;
    width: 700px;

}

.destination-title{
    font-family: 'Tangerine', cursive;
    color: #B37A2F;
}

.lead {
    font-family: 'Kanit', sans-serif;
    color: #B37A2F;
}

.card-title{
    font-family: 'Tangerine', cursive;
    color: #B37A2F;
}

.card-text{
    color: #790A00;
    font-family: 'Rokkitt', serif;
}


.card-img-top{
    max-height: 473px;
}


/* ------TRIPS CHECKOUT-------- */
* Wishlist */

tr:hover {
    cursor: pointer;
}

.list-img-left {
    width: auto;
    height: 100px;
    margin: auto;
}

.list-text {
    color: rgb(36, 61, 36);
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
}

.list-del {
    text-align: center;
    vertical-align: middle;
}

.list-del-img:hover {
    border: 2px solid rgba(183, 0, 0, 0.881);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    transition: all cubic-bezier(.08,.69,1,.26);

}

#remove {
    text-align: center;
}


/* CHEKOUT STYLING */

.checkout{
    
    margin-bottom: 100px;
}
.checkout, h2{
    font-family: 'Flamenco', cursive;
    color: #0B2538;
    font-size: larger;
    font-weight: bold;
}

.purchase{
    font-family: 'Flamenco', cursive;
    color: #081B28;
    font-size: large;
    font-weight: bold;
}

table{
    border-radius: 10px;
}